@{
    ViewBag.Title = "Blogs & Pages";
}
<nav>
    <ul class="buttons">
        <li>Create a new page</li>
        <li>Create a new blog</li>
        <li>Write a new article</li>
    </ul>
</nav>

<h2>Pages</h2>
@* More stuff *@
